body {
  margin: 0;
  background: darkgray;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#verticalButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
button:hover {
  background: lightblue;
}
#carCanvas {
  background: lightgray;
}
#networkCanvas {
  background: black;
}
